h1 {
  text-align: center;
}

ul {
  padding: 0;
}

ul.item-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li.item {
  width: 160px;
  height: 160px;
  background-color: crimson;
  /* 最低限の余白 */
  margin: 0 5px 30px;
}



/* 追加された<li>要素のスタイルを追加 */

.item.is-empty {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
